<div id="banner" class="banner full-screen-mode parallax">
    <div class="container pr">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="banner-static">
                <div class="banner-text">
                    <div class="banner-cell">
                        <h1><%= cProfile.moto %></h1>
                        <h2><%= cProfile.submoto %></h2>
                        <div class="book-btn">
                            &nbsp;
                        </div>
                        <a href="#about">
                            <!-- <div class="mouse"></div> -->
                        </a>
                    </div>
                    <!-- end banner-cell -->
                </div>
                <!-- end banner-text -->
            </div>
            <!-- end banner-static -->
        </div>
        <!-- end col -->
    </div>
    <!-- end container -->
</div>
<!-- end banner -->

<div id="menu" class="menu-main pad-top-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                    - Daftar Menu -
                </h2>
                    <p class="title-caption text-center"><!--Berikut adalah Daftar Menu dari Produk Kami--></p>
                </div>
                <div class="tab-menu">
                    <!-- <div class="slider slider-nav">
                        <div class="tab-title-menu">
                            <h2>MAKANAN</h2>
                            <p> <i class="flaticon-dinner"></i> </p>
                        </div>
                        <div class="tab-title-menu">
                            <h2>MINUMAN</h2>
                            <p> <i class="flaticon-desert"></i> </p>
                        </div>
                    </div> -->
                    <div class="slider slider-single">
                        <div>
                            <% ProductList.forEach(function(product){ %>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                                    <div class="offer-item">
                                        <a href="/products/<%= product.id %>">
                                            <img src="products/<%= product.pic %>" alt="" class="img-responsive">
                                            <div>
                                                <h3><%= product.title %></h3>
                                                <p><%= product.description.substring(1,100) %></p>
                                            </div>
                                            <span class="offer-price">Rp <%= new Intl.NumberFormat().format(product.price) %></span>
                                        </a>
                                    </div>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
                <!-- end tab-menu -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end menu -->

<div id="gallery" class="gallery-main pad-top-100 pad-bottom-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.1s">
                    <h2 class="block-title text-center">
                    - Galeri Produk -
                </h2>
                    <p class="title-caption text-center"><!--Beberapa foto dari Produk Kami--></p>
                </div>
                <div class="gal-container clearfix">
                    <% var i=0; %>
                    <% cGallery.forEach(function(gal){ %>
                        <div class="col-md-<%= galleryMap[i] %> col-sm-12 co-xs-12 gal-item">
                            <div class="box">
                                <a href="#" data-toggle="modal" data-target="#gal_<%= i %>">
                                    <img src="images/gallery/<%= gal.pic  %>" alt="" />
                                </a>
                                <div class="modal fade" id="gal_<%= i %>" tabindex="-1" role="dialog">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <div class="modal-body">
                                                <img src="images/gallery/<%= gal.pic  %>" alt="" />
                                            </div>
                                            <div class="col-md-12 description">
                                                <h4><%= gal.title  %></h4>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% i++ %>
                    <% }) %>
                </div>
                <!-- end gal-container -->
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end gallery-main -->

<a href="#" class="scrollup" style="display: none;">Scroll</a>

<!-- <section id="color-panel" class="close-color-panel">
    <a class="panel-button gray2"><i class="fa fa-cog fa-spin fa-2x"></i></a>
    <div class="segment">
        <h4 class="gray2 normal no-padding">Color Scheme</h4>
        <a title="orange" class="switcher orange-bg"></a>
        <a title="strong-blue" class="switcher strong-blue-bg"></a>
        <a title="moderate-green" class="switcher moderate-green-bg"></a>
        <a title="vivid-yellow" class="switcher vivid-yellow-bg"></a>
    </div>
</section> -->