<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">

    <!-- Site Metas -->
    <title>Wans Resto - Foods and Beverages</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/site_assets/te_images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/site_assets/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/site_assets/css/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/site_assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/site_assets/css/responsive.css">
    <!-- color -->
    <link id="changeable-colors" rel="stylesheet" href="/site_assets/css/colors/orange.css" />

    <!-- Modernizer -->
    <script src="/site_assets/js/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/site_assets/js/all.js"></script>
</head>

<body>
    <div id="loader">
        <div id="status"></div>
    </div>

    <% if (locals.onePage) { %>
        <%- include ("partials/one_page/header") %>
        <%- body %>
        <%- include("partials/one_page/footer") %>
    <% }else{ %>
        <%- include ("partials/header") %>
        <%- body %>
        <%- include("partials/footer") %>
    <% } %>
    
    <!-- ALL JS FILES -->
    <script src="/site_assets/js/bootstrap.min.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/site_assets/js/custom.js"></script>
</body>

</html>